.items {
  display: flex;
  color: #fff;
  gap: 40px;
}

.button {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 640px) {
  .nav {
    display: none;
  }

  .nav.open {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-bg-painted);
    color: var(--color-bg-unpainted);
    padding: 40px 16px 24px;
    z-index: 1;
  }

  .items {
    flex-direction: column;
    gap: 24px;
  }

  .button {
    position: relative;
    display: flex;
    z-index: 10;
  }
}