.header {
  position: absolute;
  padding: 16px 24px 8px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logoLink {
  position: relative;
  display: flex;
  z-index: 10;
}

.logo {
  height: 24px;
  width: auto;
}